@font-face {
    font-family: 'Inter var';
    src: url('./../../Inter.var.woff2');
}

body {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 2em;
    letter-spacing: -0.011em;
    font-family: 'Inter var', sans-serif;
    font-size: 16px;
    color: #34495e;
    background-image: url("health-wealth.jpg");
}

#wrapper {
    position: relative;
    right: 350px;
    bottom: 20px;
}

.tooltip {
    opacity: 0;
    padding: 0.6em 1em;
    background: #fff;
    text-align: center;
    line-height: 1.4em;
    font-size: 0.9em;
    font-weight: bold;
    border: 1px solid #ddd;
    z-index: 10;
    transition: all 0.1s ease-out;
    pointer-events: none;
    padding: 5px 7px 5px 7px !important;
    font-size: 20px !important;
    transition-timing-function: ease-out;
    transition: 0.2s;
    /* box-shadow: 1px 1px 2px 1px rgba(102, 255, 0, 0.553); */
    box-shadow: 22px 28px 45px rgba(0, 0, 0, .25);
    transform: translate3D(0, 2px, 0);
}

.tooltip:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 12px;
    height: 12px;
    background: white;
    border: 1px solid #ddd;
    border-top-color: transparent;
    border-left-color: transparent;
    transform: translate(-50%, 50%) rotate(45deg);
    transform-origin: center center;
    z-index: 10;
}

.legend {
    position: absolute;
    right: -60px;
    bottom: 75px;
}

.domain {
    stroke-width: 3px;
}

h1 {
    font-size: 50px;
}

h2 {
    position: relative;
    bottom: 30px;
}

a {
    color: #34495e;
}

.tick {
    font-size: 14px;
}

.explainer {
    font-size: 24px;
    position: relative;
    bottom: 80px;
}