

body {
    background-color: black;
    color: white;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* padding: 5em 2em; */
    letter-spacing: -0.011em;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 20px;
}

.header {
    position: relative;
    width: 600px;
    display: flex;
    justify-content: center;
    text-align: center;
    display: flex;
    align-items: center;
    font-feature-settings: 'tnum' 1;
}

#wrapper1 {
    position: relative;
    bottom: 50px;
}

#wrapper2 {
    display: flex;
    flex-wrap: wrap;
    position: relative;
}

#title {
font-size: 40px;
}

.line {
    /* fill: none; */
    /* stroke: cornflowerblue; */
    stroke-width: 2;
    /* fill: cornflowerblue; */
    fill-opacity: 0.5;
    transition: all 0.3s ease-out;
}

.line1 {
    fill: none;
    stroke: cornflowerblue;
    stroke-width: 2;
    fill: cornflowerblue;
    fill-opacity: 0.5;
    transition: all 0.3s ease-out;
}

.grid-line {
    fill: none;
    stroke: lightgray;
    opacity: 0.5;
}

/* .white {
    stroke: white;
    fill: none;
} */

.metric-label {
    fill: lightgray;
    text-anchor: middle;
    font-size: .9em;
    letter-spacing: 0.005em;
}

.metric-label2  {
    font-family: 'Bai Jamjuree', sans-serif;
}

button {
    position: absolute;
    right: -350px;
    font-family: 'Bai Jamjuree', sans-serif;
    font-size: 1.5em;
    padding: 0.5em 1em;
    appearance: none;
    -webkit-appearance: none;
    background:#466FA6;
    color: white;
    border: none;
    box-shadow: 0 5px 0 0 #223A59;
    border-radius: 4px;
    font-weight: 600;
    outline: none;
    cursor: pointer;
    transition: all 0.1s ease-out;
}

button:hover,
button:focus {
    background: #95A7BF;
    box-shadow: 0 4px 0 0 #466FA6;
    transform: translateY(1px);
    opacity: 1;
}

button:hover:active,
button:focus:active,
button:active {
    box-shadow: 0 1px 0 0 #95A7BF;
    transform: translateY(4px);
}

#explainer {
    color: white;
    font-size: 25px;
    position: relative;
    bottom: 100px;
    justify-content: center;
    margin: 50px;
}

a {
    color: white;
}

