/*global styles
_____________________*/

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    /* font-size: 15px; */
    line-height: 1.2;
}

h1 {
    font-size: 100px;
    line-height: 1;
}

h2 {
    font-size: 35px;
}

h3 {
    margin-top: 50px;
    font-size: 25px;
    font-weight: 400;
    text-align: justify;
}

h1, h2 {
    margin: 0;
    /* font-family: 'Comfortaa', cursive; */
    text-align: center;
    font-weight: 400;
}


header {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    background-color: white;
}

nav {
    text-align: right;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
    /* height: 200px;
    margin-bottom: 50px; */
}

.button {
    margin: 1rem;
    border-radius: 50%;
    color: #2D3319;
    display: inline-block;
    padding: 50px 50px;
    text-decoration: none;
    font-size: x-large;
    font-weight: 400;
}

.button:hover {
    /* text-decoration: underline; */
    /* display: inline; */
    background-color: #ff3333;
    color: #ffffff;
    filter: drop-shadow(0 0 0.75rem lightgray);
    transition-timing-function: ease-out;
    transition: 0.5s;
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 30px;
    top: 10px;
    width: 35%;
}

/* footer */
footer {
    text-align: center;
}
.fa {
    padding: 20px;
    /* font-size: 50px; */
    /* width: 30px; */
    text-align: center;
    /* text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    /* background: #3B5998; */
    color: #ff3333;
}

.fa-instagram {
    /* background: #125688; */
    color: #ff3333;
  }

/*Media queries
_____________________*/

@media (min-width: 900px) {
    .content-wrap {
        /* width: 800px; */
        margin: 0 auto;
        padding: 100px 200px;
    }
}

@media (max-width: 899px) {
    header {
        text-align: center;
        margin-bottom: 50px;
    }

    nav a {
        display: inline-block;
        padding: 5px 5px;
        text-decoration: none;
        font-size: large;
        font-weight: 400;
    }
    
    .button {
        margin: 0;
        padding: 10px;
    }

    .content-wrap {
        /* width: 800px; */
        margin: 0 auto;
        padding: 10px;
    }

    h3 {
        font-size: medium;
    }

    h2 {
        font-size: medium;
    }

}

.hvrbox, .hvrbox * {
    box-sizing: border-box;
}

.hvrbox {
    position: relative;
    display: inline-block;
    overflow: hidden;
    max-width: 100%;
    height: auto;
    margin: 10px;
}

.hvrbox img {
    max-width: 100%;
}

.hvrbox .hvrbox-layer_bottom {
    display: block;
}

.hvrbox .hvrbox-layer_top {
    opacity: 0;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    width: 100%;
    height: 100%;
    background: rgba(249, 249, 249, 0.849);
    color: rgb(25, 25, 25);
    padding: 15px;
    -moz-transition: all 0.4s ease-in-out 0s;
    -webkit-transition: all 0.4s ease-in-out 0s;
    -ms-transition: all 0.4s ease-in-out 0s;
    transition: all 0.4s ease-in-out 0s;
}

.hvrbox:hover .hvrbox-layer_top, .hvrbox.active .hvrbox-layer_top {
    opacity: 1;
}

.hvrbox .hvrbox-text {
    text-align: justify;
    font-size: 20px;
    /* font-family: 'Balsamiq', sans-serif; */
    display: inline-block;
    position: absolute;
    top: 50%;
    left: 50%;
    -moz-transform: translate(-50%, -50%);
    -webkit-transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
    transform: translate(-50%, -50%);
}

.hvrbox .hvrbox-text_mobile {
    font-size: 15px;
    border-top: 1px solid rgb(179, 179, 179);
    /* for old browsers */
    border-top: 1px solid rgba(179, 179, 179, 0.7);
    margin-top: 5px;
    padding-top: 2px;
    display: none;
}

.hvrbox.active .hvrbox-text_mobile {
    display: block;
}

.row {
    display: flex;
    /* margin: 10px; */
}

/* Create two equal columns that sits next to each other */

.column {
    flex: 50%;
    margin: 5px;
    /* height: 300px; */
}

@media (min-width: 900px) {
    .content-wrap {
        margin: 0 auto;
        /* padding: 50px 40px; */
    }
}

@media (max-width: 899px) {
    h1, h2, h3 {
        width: 80%;
        font-size: smaller;
        padding-top: 40px;
    }

    #card {
        width: 80%;
    }

    header {
        text-align: center;
    }

    nav a {
        display: inline-block;
        margin: 10px 20px 10px 20px;
        text-decoration: none;
        font-size: large;
        font-weight: 400;
    }

    /* nav a:focus {
        text-decoration: underline;
        display: inline;
        background-color: #CCFF33;
        transition-timing-function: ease-out;
        transition: 0.5s;
        text-decoration: none;
    } */
    .row {
        padding-top: 50px;
    }

    /* .content-wrap {
        margin: 0 auto;
        padding: 5px;
    } */
    /* .name {
        position: absolute;
        left: 20px;
        color: #2D3319; */
    /* } */
    iframe {
        max-width: 280px;
        max-height: 200px;
    }

    /* Smaller font for mobile */
    html body main section.projects div.content-wrap div.row div.column div.hvrbox a div.hvrbox-layer_top div.hvrbox-text {
        font-size: 6px;
    }

}