/*global styles
_____________________*/

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Roboto', sans-serif;
    font-size: 20px;
    line-height: 1.5;
}

h1 {
    font-size: xx-large;
    line-height: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    padding-top: 50px;
    width: 70%;
    text-align: center;
}

h3 {
    text-align: justify;
}

h2, h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
    margin-top: 100px;
    margin-bottom: 30px;
    font-weight: 400;
}

header {
    position: relative;
    z-index: 1;
    margin-bottom: 100px;
    background-color: white;
}

/* Navigation */

nav {
    text-align: right;
    background: white;
    position: fixed;
    top: 0;
    width: 100%;
}

.button {
    margin: 1rem;
    border-radius: 50%;
    color: #2D3319;
    display: inline-block;
    padding: 50px 50px;
    text-decoration: none;
    font-size: x-large;
    font-weight: 400;
}

.button:hover {
    /* text-decoration: underline; */
    /* display: inline; */
    background-color: #ff3333;
    color: #ffffff;
    filter: drop-shadow(0 0 0.75rem lightgray);

    transition-timing-function: ease-out;
    transition: 0.5s;
    text-decoration: none;
}

.logo {
    position: absolute;
    left: 30px;
    top: 10px;
    width: 35%;
}

/* footer */
footer {
    text-align: center;
}
.fa {
    padding: 20px;
    /* font-size: 50px; */
    /* width: 30px; */
    text-align: center;
    /* text-decoration: none;
    margin: 5px 2px;
    border-radius: 50%; */
}

.fa:hover {
    opacity: 0.7;
}

.fa-facebook {
    /* background: #3B5998; */
    color: #ff3333;
}

.fa-instagram {
    /* background: #125688; */
    color: #ff3333;
  }


/*Media queries
_____________________*/

@media (min-width: 900px) {
    .content-wrap {
        margin: 0 auto;
        padding: 50px 40px;
    }
}

@media (max-width: 899px) {
   
    h2, h3 {
        width: 80%;
        font-size: smaller;
    }
    
    header {
        text-align: center;
        margin-bottom: 50px;
    }

    nav a {
        display: inline-block;
        margin: 0;
        padding: 15px 15px;
        text-decoration: none;
        font-size: large;
        font-weight: 400;
    }

    .button {
        margin: 0;
        padding: 10px;
    }

        .content-wrap {
        /* width: 800px; */
        margin: 0 auto;
        padding: 10px;
    }

    /* nav a:hover {
        text-decoration: underline;
        display: inline;
        background-color: #CCFF33;
        transition-timing-function: ease-out;
        transition: 0.5s;
        text-decoration: none;
    } */

}