body {
  margin: 0;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  background-color: white;
  color: gray;
}

header {
  max-width: 100%;
  height: auto;
  font-size: 4em;
  padding: 1em;
  background-image: url('kristina-tripkovic.jpg');
  color: white;
  font-size: 5em;
  /* Create the parallax scrolling effect */
  background-attachment: fixed;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

/* Style scales */

.domain {
  opacity: 0;
}

g.tick line {
  opacity: 0;
}

g.tick text {
  color: black;
  font-weight: 700;
}

#outro {
  /* display: flex; */
  /* justify-content: center;
    align-items: center; */
  /* height: 100vh; */
  width: 100vw;
  /* font-size: 5em; */
  padding: 2em;
  background: rgb(245, 245, 245);
  color: black;
}

section#outro p {
  font-size: 1.25em;
}

/* Scrollama sticky side example styles with some modifications https://github.com/russellgoldenberg/scrollama/blob/master/docs/sticky-side/index.html */

#scrolly {
  position: relative;
  display: flex;
  /* background-color: #f3f3f3; */
  padding: 1rem 1rem;
}

article {
  position: relative;
  /* padding: 1rem; */
  flex-basis: 33%;
  min-width: 20rem;
}

figure {
  position: -webkit-sticky;
  position: sticky;
  top: 20px;
  width: 100%;
  height: 800px;
  margin: 0;
  background-color: #ffffff;
  z-index: 0;
  flex-basis: 67%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.step {
  margin: 0 auto 2rem auto;
  padding: 1em;
  display: flex;
  flex-flow: row wrap;
  justify-content: center;
  align-items: center;
  height: 100vh;
  font-size: 2.0em;
  font-weight: 200;
}

.step:last-child {
  margin-bottom: 0;
}
/* Change text color on scroll */
.active {
  color: black;
  -webkit-transition: all .5s;
  -moz-transition: all .5s;
  -o-transition: all .5s;
  transition: all .5s;
}
.scrollama__debug-offset {
  visibility: hidden;
}