svg {
  width: 70%;
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
}
/* Style scales */

.domain {
  opacity: 0;
}

g.tick line {
  opacity: 0;
}

g.tick text {
  color: black;
  font-weight: 600;
}