
/*global styles
_____________________*/

body {
    background-color: white;
    margin: 0;
    padding: 0;
    font-family: 'Balsamiq', sans-serif;
    font-size: 15px;
    line-height: 1.5;
}

a {
    color: #2D3319;
}

h1 {
    font-size: xx-large;
    line-height: 1;
    display: block;
    margin-left: auto;
    margin-right: auto;
    margin-top: 50px;
    width: 70%;
}

h2 {
    margin-top: 75px;
}

h2, h3 {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#header {
    position: relative;
    z-index: 1;
}

/*Projects
_____________________*/

.projects {
    padding-top: 5%;
}

#card {
    display: block;
    margin-left: auto;
    margin-right: auto;
    width: 70%;
}

#card:hover {
    /* This timing applies on the way IN */
    transition-timing-function: ease-out;
    transition: 0.2s;
    box-shadow: 22px 28px 45px rgba(0, 0, 0, .25);
    transform: translate3D(0, -1px, 0);
}

/* Navigation */

nav {
    background-color: white;
    text-align: right;
    position: fixed;
    top: 0;
    width: 100%;
}

nav a {
    display: inline-block;
    padding: 25px 25px;
    text-decoration: none;
    font-size: x-large;
    font-weight: 400;
}

nav a:hover {
    /* text-decoration: underline; */
    display: inline;
    background-color: #CCFF33;
}

.name {
    position: absolute;
    left: 70px;
    color: #2D3319;
}

.spiral {
    animation: rotation 20s infinite linear;
    position: absolute;
    left: 30px;
    top: 27px;
    width: 2%;
}

@keyframes rotation {
    from {
        transform: rotate(0deg);
    }
    to {
        transform: rotate(-359deg);
    }
}

#footer {
    text-align: center;
    font-size: x-large;
    padding: 20px;
    background: white;
    color: #517664;
    z-index: 1;
}

#footer a {
    text-decoration: none;
}

#footer a:hover {
    background-color: #CCFF33;
}

/*Media queries
_____________________*/

@media (min-width: 900px) {
    .content-wrap {
        margin: 0 auto;
        padding: 50px 40px;
    }
}

@media (max-width: 899px) {
    h1, h2, h3 {
        width: 90%;
    }

    #card {
        width: 90%;
    }
    header {
        text-align: center;
    }
    nav a {
        display: inline-block;
        padding: 5px 5px;
        text-decoration: none;
        font-size: large;
        font-weight: 400;
    }
    .spiral {
        visibility: hidden;
    }
    /* .content-wrap {
        margin: 0 auto;
        padding: 5px;
    } */
}
